body {
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #333;
}
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  background-color: #0077b6;
  color: #fff;
}
nav {
  display: flex;
  align-items: center;
}
nav ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}
nav ul li {
  margin-right: 20px;
}
nav ul li:last-child {
  margin-right: 0;
}
nav ul li a {
  color: #fff;
  text-decoration: none;
  padding: 10px;
  transition: background-color 0.2s;
}
nav ul li a:hover {
  background-color: #fff;
  color: #0077b6;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 50px;
  padding: 30px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}

form fieldset {
  width: 100%;
  margin-bottom: 20px;
  padding: 0;
  border: none;
}

form legend {
  font-size: 1.2em;
  font-weight: bold;
  margin-bottom: 10px;
}

form label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

form input[type="text"],
form input[type="password"],
form input[type="email"],
form input[type="EmergencyContact"],
form input[type="tel"],
form textarea {
  display: block;
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: none;
  border-radius: 5px;
  background-color: #f0f0f0;
}

form input[type="submit"] {
  display: block;
  margin: 20px auto 0;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: #fff;
  font-size: 1.2em;
  cursor: pointer;
}
