/* Body */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  /* Header */
  header {
    background-color: #0072c6;
    color: #fff;
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
  }
  
  .logo {
    display: flex;
    align-items: center;
  }
  
  .logo img {
    height: 50px;
    margin-right: 10px;
  }
  
  nav ul {
    display: flex;
  }
  
  nav li {
    margin-left: 20px;
    list-style: none;
  }
  
  nav li:first-child {
    margin-left: 0;
  }
  
  nav a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
  }
  
  nav a:hover {
    text-decoration: underline;
  }
  
  /* Main */
  main {
    padding: 20px;
  }
  .patients {
    margin: 1em;
  }
  
  table {
    border-collapse: collapse;
    width: 100%;
  }
  
  th, td {
    padding: 0.5em;
    text-align: left;
    border: 1px solid #ddd;
  }
  
  th {
    background-color: #f2f2f2;
  }
  
  button {
    margin: 0.5em;
    padding: 0.5em;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #3e8e41;
  }

  section {
    margin-top: 50px;
    background-color: #f5f5f5;
    padding: 40px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.3);
  }
  
  h2 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    margin-bottom: 10px;
  }
  
  input[type="text"], input[type="date"], input[type="gender"], input[type="tel"], input[type="email"], select, textarea {
    width: 97%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: none;
    box-shadow: inset 0px 0px 2px 0px rgba(0,0,0,0.3);
  }
  
  textarea {
    height: 50px;
    width: 97%;
  }
  
  button {
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 20px;
  }

  #profile{
    background-color: #0072c6;
  }

  #edit{
    background-color: #4CAF50;
  }

  #delete{
    background-color: #f71c1c;
  }

  #delete:hover{
    background-color: #e21a1a;
  }

  #profile:hover{
    background-color: #0163a8;
  }

  #edit:hover{
    background-color: #46a149;
  }

  table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
  }
  
  th, td {
    text-align: left;
    padding: 10px;
    border-bottom: 1px solid #ddd;
  }
  
  th {
    background-color: #008CBA;
    color: #fff;
  }
  
  td button {
    background-color: #f44336;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 3px;
    cursor: pointer;
    margin-right: 5px;
  }
  
  td button:hover {
    background-color: #c62828;
  }
  
  td a {
    color: #008CBA;
    text-decoration: none;
  }
  
  td a:hover {
    text-decoration: underline;
  }