/* Body */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

/* Header */
header {
  background-color: #0072c6;
  color: #fff;
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  height: 50px;
  margin-right: 10px;
}

nav ul {
  display: flex;
}

nav li {
  margin-left: 20px;
  list-style: none;
}

nav li:first-child {
  margin-left: 0;
}

nav a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}

nav a:hover {
  text-decoration: underline;
}

h2 {
  font-size: 48px;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 30px;
  color: #444;
  text-shadow: 2px 2px #f2f2f2;
}

/* Form styles */
form {
  max-width: 500px;
  margin: 0 auto;
  padding: 30px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
  animation: slideIn 1s forwards;
}

form label {
  display: block;
  margin-bottom: 10px;
  font-size: 16px;
}

form input,
form select {
  display: block;
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  font-size: 16px;
  border: 2px solid #ccc;
  border-radius: 5px;
  transition: border-color 0.3s ease;
}

form input:focus,
form select:focus {
  outline: none;
  border-color: #5f9ea0;
}

form button {
  display: inline-block;
  padding: 10px 20px;
  margin-right: 10px;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  background-color: #5f9ea0;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

form button:hover {
  background-color: #4c7d7e;
}

/* Total div styles */
#total-div {
  display: none;
  max-width: 500px;
  margin: 0 auto;
  padding: 30px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
  animation: slideIn 1s forwards;
}

#total-div h2 {
  font-size: 24px;
  margin-top: 0;
}

#total-div table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

#total-div table td,
#total-div table th {
  padding: 10px;
  border: 1px solid #ccc;
}

#total-div table th {
  background-color: #f2f2f2;
}

#total-div button {
  margin-top: 10px;
}

/* Price and coverage paragraph styles */
p {
  text-align: center;
  font-size: 18px;
  margin-top: 30px;
  animation: fadeIn 1s forwards;
}

/* Animation keyframes */
@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateY(-100px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}